.has-mt-2 {
  margin-top: 2rem !important;
}

.has-mt-1 {
  margin-top: 1rem !important;
}

.has-mb-2 {
  margin-bottom: 2rem !important;
}

.has-mb-1 {
  margin-bottom: 1rem !important;
}

.has-pb-0 {
  padding-bottom: 0 !important;
}

.has-margin-0 {
    margin: 0 !important;
}

.has-padding-0 {
    padding: 0 !important;
}

.has-padding-1 {
    padding: 1rem !important;
}

.has-padding-2 {
    padding: 2rem !important;
}

